@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,533&family=Raleway&display=swap');

body {
  font-family: Raleway;
  margin: auto ;
  background-color: teal;
  color: white;
}

h1{
  font-family: Lora;
  width: 100%;
  text-transform: uppercase;
  background-color: white;
  color: teal;
  text-align: center;
  margin:0;
  padding: 10px;
}

#top {
  color: teal;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  height: fit-content;
  justify-content: center;
}