body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: teal;
  color: white;
}

h1{
  width: 100%;
  text-transform: uppercase;
  background-color: white;
  color: teal;
  text-align: center;
  margin:0;
  padding: 10px;
}

#top {
  color: teal;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  height: fit-content;
  justify-content: center;
}